<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://blobimagenes.blob.core.windows.net/images/ds1.PNG?sp=r&st=2021-05-13T02:24:01Z&se=2021-06-03T10:24:01Z&spr=https&sv=2020-02-10&sr=b&sig=%2BSeX%2B7iaCZkKZM6jE%2B5DfdwBrah68GNmng2g5agr9OM%3D" alt="Sherpa says hi">
  </body>
</html>
